/* You can add global styles to this file, and also import other style files */
button{
    border-radius: 15%;
    background-color: dodgerblue;
    margin: 0 .5rem .5rem 0;
    color: aliceblue;
    border-color: rgb(30, 135, 184);
    height: 2rem;
}
li{
    align-items: center;
    flex-direction: row;
    margin: .5rem;
    display: inline-block;
}
* {
    text-align: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
}
div{
    background-color: rgb(230, 227, 227);
}
 td, tr{
    border: 2px solid #ccc;
}